.products {
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  
}

.products ul {
  
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      200px,
      1fr
    )
  );
  gap: 1rem;
  
}

.products li {
  display: flex;
  flex-direction: column;
}

.buy-butons {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  gap: 2px;
}

.stockPrice{
  color: green;
}