.navContainer {
  background-color: #000000 !important;
  color: white;
}


.navLogo{
  width: 4rem ;
  height: 4rem;
  margin: 1px, 0px, 1px, 0px;
}

.regBtn{
  padding: 1px;
  border-radius: 2rem;
  align-items: center;
  background-color: #3e4570;
}

.user {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}


.underline {
  display: inline-block;
  position: relative;
  text-shadow: -1px 0px 11px rgba(255,255,255,0.74);
  font-weight: bold;
  color: white !important;
}
.profileButton {
  --bs-btn-color: none !important;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-active-bg: none !important;
}

.offcanvaProfile {
  --bs-offcanvas-bg: black !important;
  color: white;
}

.closeButton {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-color: red;
}

.closeButton:hover {
  color: red;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0;
  background-color: #ffd900;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin:bottom left;
}

.navAvatar {
  width: 2rem;
  height: 30px;
  border-radius: 100%;
}