@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@400;700&family=Poppins&display=swap');

#App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    background: #222;
    border-top: white 2px;
    
}


